<div class="container">
    <div class="add-students">

        <h2>Add students</h2>

        <p [ngStyle]="{'color':'red'}" *ngIf=validate>Cannot submit empty form!!</p>

        <label>Student Name</label>
        <input type="text" [(ngModel)]="name">

        <label>Gender</label>

        <select [(ngModel)]="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <label>Balance</label>
        <input [(ngModel)]="amount_balance"> 



        <button (click)="addStudent()">Add New Sudent</button>

    </div>
</div>
