<div [ngStyle]="{'background-color':'#8B1919','display':'flex', 'justify-content':'space-evenly','color':'#fff'}" class="navbar">

    <div class="logo">
        <p>THE JITU</p>

    </div>


    <div class="nav">
        <ul [ngClass]="getStyle()">
            <li routerLink="/">Home</li>
            
            <li routerLink="/admin" routerLinkActive="active" *ngIf="authService.isLoggedin" >Admin</li>
            
            <li routerLink="/login" *ngIf="!authService.isLoggedin()">login</li>
            <li (click)="logout()" *ngIf="authService.isLoggedin()">logout</li>
        </ul>
    </div>




</div>
