<div class="container">


 

  <div class="students" *ngIf="student.length; else noStudent">
    <app-add-student (addStudents)="addStudent($event)"></app-add-student>

    <h1>Students</h1>

    <div class="search">
      <input  type="text" [(ngModel)]="filter"  placeholder="search Student">
  </div>

    <table>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Amount Balance</th>
      </tr>
      <tr *ngFor="let student of student |search:filter;">
        <td>{{student.name |gender:student.gender }}</td>
        <td>{{student.gender}}</td>
        <td>{{student.amount_balance}}</td>

      </tr>
    </table>


  </div>

  <ng-template #noStudent>
<p>No students</p>
  </ng-template>



</div>
