.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section img{
    height: 500px;
}

.login{
    font-size: 30px;
    background-color: bisque;
    padding: 5rem;
    border-radius: 5px;
}

input{
    padding: 10px;
    border-radius: 20px;
}

button{
    padding: 15px;
    width: 100px;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-color: #8B1919;
    color: white;
}

.para{
    color: red;
}